<!---------------Footer-->
<footer class="text-gray-400 bg-black body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
          <i class="fa fa-spotify fa-3x text-green-400"></i>
          <span class="ml-3 font-semibold text-2xl">Spotify</span>
        </a>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-10 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-semibold text-gray-500 tracking-widest text-sm mb-3">COMPANY</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">First Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Second Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Third Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-semibold text-gray-500 tracking-widest text-sm mb-3">COMMUNITIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">First Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Second Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Third Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-semibold text-gray-500 tracking-widest text-sm mb-3">USEFUL LINKS</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">First Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Second Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Third Link</a>
            </li>
            <li>
              <a class="text-white hover:text-green-400 cursor-pointer">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full">
          <div class="icons">
              <i class="fa fa-instagram fa-2x p-2 rounded-full mr-2 hover:text-green-400 cursor-pointer"></i>
              <i class="fa fa-twitter fa-2x p-2 rounded-full mr-2 hover:text-green-400 cursor-pointer"></i>
              <i class="fa fa-pinterest fa-2x p-2 rounded-full mr-2 hover:text-green-400 cursor-pointer"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-black bg-opacity-75">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-400 text-sm text-center sm:text-left">© 2022 Spotify —
          <a href="https://twitter.com/AngshumaanKesh" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">@steveop</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-gray-400 hover:text-green-400 cursor-pointer">
            <span class="text-xs">Legal</span>
          </a>
          <a class="ml-6 text-gray-400 hover:text-green-400 cursor-pointer">
            <span class="text-xs">Privacy Center</span>
          </a>
          <a class="ml-6 text-gray-400 hover:text-green-400 cursor-pointer">
            <span class="text-xs">Privary Policy</span>
          </a>
          <a class="ml-6 text-gray-400 hover:text-green-400 cursor-pointer">
            <span class="text-xs">Cookies</span>
          </a>
          <a class="ml-6 text-gray-400 hover:text-green-400 cursor-pointer">
            <span class="text-xs">About Ads</span>
          </a>
        </span>
      </div>
    </div>
  </footer>