{% extends 'newbase.html' %}
{% load static %}
{% block title %}
<title>Listening is everything - Spotify</title>
{% endblock title %}
{% block content %}
<!----------------Hero Section-->
<section class="text-gray-400 hero-section body-font">
    <div class="container-fluid px-5 py-12 mx-auto">
      <div class="text-center md:mb-20 mb-10">
        <h1 class="sm:text-6xl text-3xl md:text-9xl text-6xl font-bold title-font hero-title mb-4">Listening is everything.</h1>
      </div>
      <div class="text-center mb-10">
        <span class="sm:text-lg text-sm font-normal hero-title mb-4">Millions of songs and podcasts. No credit card needed.</span>
      </div>
      <button class="flex get-spotify uppercase font-semibold mx-auto bg-green-500 border-0 py-3 px-10 focus:outline-none rounded-full text-sm">Get Spotify free</button>
    </div>
  </section>
{% endblock content %}